In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('highest_paying_jobs_2021.csv')

In [3]:
df.head()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,93200,187300,67%
1,2,Operations Research & Industrial Engineering,Bachelors,84800,170400,28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,108500,159300,46%
3,4,Interaction Design,Bachelors,68300,155800,55%
4,5,Public Accounting,Bachelors,59800,147700,47%

In [4]:
df.shape

(100, 6)

In [5]:
df.columns

Index(['Rank', 'Major', 'Degree Type', 'Early Career Pay', 'Mid-Career Pay',
       '% High Meaning'],
      dtype='object')

In [6]:
df.isna()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
95,False,False,False,False,False,False
96,False,False,False,False,False,False
97,False,False,False,False,False,False
98,False,False,False,False,False,False
99,False,False,False,False,False,False

In [7]:
df['Early Career Pay'].max()

108500

In [8]:
df['Early Career Pay'].idxmax()

2

In [9]:
# Major with the highest Early Career Pay
df['Major'].loc[2]

'Electrical Engineering & Computer Science (EECS)'

In [10]:
df['Early Career Pay'].min()

47700

In [11]:
df['Early Career Pay'].idxmin()

95

In [12]:
# Major with the lowest Early Career Pay
df['Major'].loc[95]

'Asian Studies'